$primary: #f4f3ee;
$secondary: #e5e5e5;
$third: #c32c72;
$white: #fff;
$black: #000;

$nav-color: $primary;
$main-color: $secondary;
$white-box: $white;

body {
	max-width: 100%;
}

/*


NAVBAR


*/

@media (max-width: 988px) {
	.hamburger {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		position: absolute;
		cursor: pointer;
		width: 35px;
		height: 30px;
		top: 10px;
		right: 20px;

		&__line1,
		&__line2,
		&__line3 {
			width: 100%;
			height: 3px;
			background-color: $black;
		}
	}
}

ul {
	margin-bottom: 0rem !important;
}

.navbar-toggler {
	margin: 0 auto;
}

.navbar {
	justify-content: flex-start !important;
	background-color: $nav-color !important;

	.navbar__logo {
		padding-right: 70%;
		margin-left: 3%;
		list-style: none;
		text-transform: uppercase;
		font-size: 36px;
		color: $black;
	}

	.navbar__list {
		display: none;
		margin-right: 2%;
		list-style: none;
		font-size: 18px;
		text-transform: uppercase;
		color: $black;

		&:hover {
			border-bottom: $third 2px solid;
		}

		&--active {
			color: $third;
		}

		a {
			text-decoration: none;
			color: $black;
		}
	}

	.change {
		display: flex;
	}

	@media (max-width: 990px) {
		.navbar {
			flex-direction: column !important;
			align-items: initial !important;
			text-align: center;

			&__logo {
				padding-right: 90%;
				margin-bottom: 2%;
			}
		}
	}
}

/*

MAIN PAGE

*/

.box {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: $main-color;

	&__title {
		display: inline;
		width: 100%;
		margin: 4% auto;
		text-align: center;

		&.hide {
			display: none;
		}
	}

	&__item {
		margin: 4em;
		max-width: 230px;
		padding: 100px;
		border-radius: 20px;
		box-shadow: 1px 1px 1px 2px gray;

		&--activewhite {
			background-color: $white-box;
			padding: 100px;
			@extend .box__item;
			box-shadow: 1px 1px 1px 2px $third;
		}

		&--activered {
			background-color: $third !important;
			@extend .box__item;
			box-shadow: 1px 1px 1px 2px $primary !important;
		}
	}
}

/*

FOOTER PAGE

*/

.footer {
	@extend .navbar;
	padding: 2% 5% !important;
	justify-content: space-between !important;
}
